<h1>Registro</h1>

<form method="post">
    <label>Nombre: </label>
    <input type="text" class="form-control" name="nombre" />
    <label>Username: </label>
    <input type="text" class="form-control" name="username" />
    <label>Password: </label>
    <input type="text" class="form-control" name="password" />
    <button class="btn btn-success">Entrar</button>
</form>